:root {
    --black: #16202a;
    --darkGrey: #192734;
    --lightGrey: #253340;
    --darkWhite: #8899a6;
    --white: #fff;

    --primary: #1da1f3;
    --secondary: #011929;
    --accent: #f00;
    --error: '#FF5252';
    --info: '#2196F3';
    --success: '#4CAF50';
    --warning: '#FFC107';

    --red: #f00; /* Testing */
}

.pointer {
    cursor: pointer !important;
}

.v-application {
    background-color: var(--black) !important;
}

.v-data-table, .v-toolbar, .v-list, .v-card, .v-alert,
.theme--dark.v-skeleton-loader .v-skeleton-loader__table-heading,
.theme--dark.v-skeleton-loader .v-skeleton-loader__table-thead,
.theme--dark.v-skeleton-loader .v-skeleton-loader__table-tbody,
.theme--dark.v-skeleton-loader .v-skeleton-loader__table-tfoot {
    background-color: var(--darkGrey) !important;
}

.v-btn--active {
    background: var(--secondary) !important;
}

.v-btn--contained {
    background: var(--primary) !important;
}

.v-btn--outlined {
    border-color: var(--primary);
    color: var(--primary) !important;
}

.v-btn--disabled {
    border-color: inherit;
}

.v-data-table {
    border: 1px solid var(--secondary) !important;
}

.main {
    background: var(--darkGrey);
    border: 1px solid var(--lightGrey);
    padding: 12px;
}

.main .row {
    margin: 0;
}

.theme--dark.v-text-field--solo > .v-input__control > .v-input__slot {
    background: var(--lightGrey) !important;
}